/* 1. Import de EB Garamond depuis Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Police serif globale */
  --font-serif: 'EB Garamond', serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-seri